# check path first

[Unit]
Description=Orange Pi Face Recognition Client
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/infineon-x/sbc
Environment="PATH=/home/pi/infineon-x/sbc/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/pi/infineon-x/sbc/venv/bin/python3 /home/pi/infineon-x/sbc/orangepi_client.py continuous 5
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

